$white: #fff;
$white-darken: #fbfbfb;
$pink: #FF4E50;

$green: #329f69;
$green-darker: #008744;
$green-light: rgb(99, 223, 46);
$green-darken: rgb(74, 88, 60);

$orange: #FFA710;
$purple: #667DF3;
$dark_grey: #444444;
$grey: #666666;

$black: #000;
