.icon {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    display: block;
    height: inherit;
    top: -2px;
    position: relative;
}

.icon-airplane {
    background-image: url('../images/airplane.svg');
}

.icon-brush {
    background-image: url('../images/brush.svg');
}

.icon-camera {
    background-image: url('../images/camera.svg');
}

.icon-logo {
    background-image: url('../images/logo.svg');
}

.icon-music {
    background-image: url('../images/music.svg');
}

.icon-wrap {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $white;
    position: absolute;
    bottom: 10px;
    right: 5px;

    &--music {
        background: $pink;
    }

    &--brush {
        background: $green;
    }
    &--camera {
        background: $orange;
    }
    &--airplane {
        background: $purple;
    }
}
