<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kath Way City - Home of Design, Website development, Freelance work, Web Design">
    <meta name="keywords" content="Front-End-Developer, Freelance, Kath Way City - Home of Design, Developer">
    <meta name="author" content="Zack Mutombo">
    <link rel="shortcut icon" href="img/logo_small.gif"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<title>About - Kath Way City</title>
</head>
<body>
	<noscript>
		<h1 style="color: red; text-align: center;">
			This Website requires Javascript. Please make sure your browser's setting allows Javascript. If you see this message your Javascript is off, please turn it on.
			Thank you.
		</h1>
	</noscript>
	<!-- Google Tag Manager -->
	    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5M2PF5"
	    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	    })(window,document,'script','dataLayer','GTM-5M2PF5');</script>
	<!-- End Google Tag Manager -->

	<header>
		<div class="container">
			<div class="row">
				<div class="col col-mob-12">
					<div class="logo-section clearfix">
						<div class="logo-base">
							<a href="index.html">
								<img src="img/kath_log.gif" />
							</a>
						</div>
						<div class="mobile-menu">
	                        <span></span>
	                        <span></span>
	                        <span></span>
	                    </div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header logo and burger icon end here -->

	<nav id="mobile-menu__trigger">
		<div class="container">
			<div class="row">
				<div class="col col-mob-12">
					<div class="navbar">
						<ul class="list-inline-menu" id="vue-content">
				            <li v-html="item" v-for="item in items">{{ item }}</li>
				        </ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- Nav menu list end here -->

	<div class="banner">
		<div class="container container--banner">
			<div class="row">
				<div class="col col-mob-12 col-tab-8">
					<div class="banner__content center">
						<p>Do you want a clean, sharp, professional website design that will adapt to the future growth of your business or organization? You have found your answer with our professional web design services. Here your plans meet with our passion for design and your dreams match our dedication to providing unique, customized web design services that turns your vision into success. We can also provide ongoing website maintenance service and manage your web hosting and domain name registration.</p>
					</div>
				</div>
				<div class="col col-mob-12 col-tab-4 banner__img">
					<img src="img/TheDon1.gif" class="img-responsive pull-right">
				</div>
			</div>
		</div>
	</div>
	<!-- Banner section end here -->


	<!-- Contents end here -->
	<section class="content-section">
		<div class="container">
			<div class="row">
				<div class="col col-mob-12 col-tab-9 content-section__left">
					<div class="welcome-section" id="vue-dev">
						<h2 class="content-title center no-margin-top">About the Developer</h2>

						<p>I am a Technical person with experience in Web Design and Development. With my background and experiences I consider myself to be an asset to any companies and can provide professional services required in my field of work.</p>

						<p>I am a well organised person with excellent communication skill, I am bilingual proficient to communicate in French and English. Also I am a hard working personal with the desire to learn new technologies and grow with a stable and successful environment. Over the past years I have been involved in the IT industry in Help desk, Customer Care and Technical Support. <em v-on:click="textReveal = !textReveal" class="learn-more">learn more...</em></p>

						<p v-bind:class="{textReveal:textReveal}">Being self motivated and client serviced orientated, I handle any challenge with ease. I always give the best in me to succeed and reach my goal. Not only as an individual but also as part of a group who have a common goal/goals. I consider every day as a chance to build my character to improve and add existing skills.</p>
					</div>

					<div class="development-section" id="vue-perks">
						<h3 class="content-subtitle">My web developing expertise includes:</h3>

						<p>My expertise is to build and maintain websites according to your requirement. Converting a <strong>Design</strong> files [PSD, IA, etc..] into a working <strong>Website</strong>.</p>

						<p><strong>Using the below technologies: </strong></p>

						<div class="row">
							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-stack.jpg" title="HTML5 - CSS3 - JS" alt="HTML5 - CSS3 - JS" class="img-responsive">
									</div>
									<div class="content-card__title">HTML5 - CSS3 - JS</div>
								</div>
							</div>
							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-sass.jpg" title="SASS LESS" alt="SASS LESS" class="img-responsive">
									</div>
									<div class="content-card__title">SASS and LESS</div>
								</div>
							</div>
							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-bootstrap.jpg" title="BootStrap" alt="BootStrap" class="img-responsive">
									</div>
									<div class="content-card__title">BootStrap</div>
								</div>
							</div>
							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-jquery.jpg" title="JQuery" alt="JQuery" class="img-responsive">
									</div>
									<div class="content-card__title">JQuery</div>
								</div>
							</div>
							<!-- 1st Skills row end here -->

							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-wordpress.jpg" title="Wordpress" alt="Wordpress" class="img-responsive">
									</div>
									<div class="content-card__title">Wordpress</div>
								</div>
							</div>
							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-drupal.jpg" title="Drupal" alt="Drupal" class="img-responsive">
									</div>
									<div class="content-card__title">Drupal</div>
								</div>
							</div>
							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-git.jpg" title="Github" alt="Github" class="img-responsive">
									</div>
									<div class="content-card__title">Github</div>
								</div>
							</div>
							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-sourcetree.jpg" title="SourceTree" alt="SourceTree" class="img-responsive">
									</div>
									<div class="content-card__title">SourceTree</div>
								</div>
							</div>
							<!-- 1st Skills row end here -->

							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-gulp.jpg" title="Gulp" alt="Gulp" class="img-responsive">
									</div>
									<div class="content-card__title">Gulp</div>
								</div>
							</div>
							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-nunjucks.jpg" title="Nunjucks" alt="Nunjucks" class="img-responsive">
									</div>
									<div class="content-card__title">Nunjucks</div>
								</div>
							</div>
							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-vue.jpg" title="VueJS" alt="VueJS" class="img-responsive">
									</div>
									<div class="content-card__title">VueJS</div>
								</div>
							</div>
							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-adobe.jpg" title="Adobe Suite" alt="Adobe Suite" class="img-responsive">
									</div>
									<div class="content-card__title">Adobe Suite</div>
								</div>
							</div>
							<!-- 1st Skills row end here -->

							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-sublime.jpg" title="Sublime Text" alt="Sublime Text" class="img-responsive">
									</div>
									<div class="content-card__title">Sublime Text</div>
								</div>
							</div>
							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-brackets.jpg" title="Brackets" alt="Brackets" class="img-responsive">
									</div>
									<div class="content-card__title">Brackets</div>
								</div>
							</div>
							<div class="col col-mob-12 col-tab-4 col-desk-3">
								<div class="content-card">
									<div class="content-card__thumb">
										<img src="img/skills-logo-filezilla.jpg" title="FilleZilla" alt="FilleZilla" class="img-responsive">
									</div>
									<div class="content-card__title">FilleZilla</div>
								</div>
							</div>
							<!-- 1st Skills row end here -->
						</div>
					</div>
				</div>
				<div class="col col-mob-12 col-tab-3 content-section__right" id="vue-sidebar">
					<div class="sidebar-menu">
						<h3 class="content-title no-margin-top">Sidebar Menu</h3>

						<ul class="list-block side-link" id="vue-content">
				            <li v-html="item" v-for="item in items">{{ item }}</li>
				        </ul>
					</div>
					<div class="sidebar-portfolio">
						<h3 class="content-title">Portfolio List</h3>

						<p><em>Github profile contains all raw codes for my portfolio, showing my coding skills level.</em></p>

						<ul class="list-block side-link" id="vue-content">
				            <li v-html="item" v-for="item in portfolio">{{ item }}</li>
				        </ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="pre-footer banner">
		<div class="container container--banner">
			<div class="row">
				<div class="col col-mob-12 col-tab-8">
					<div class="banner__content">
						<p>I am a Technical person with experience in Web Design and Development. With my background and experiences I consider myself to be an asset to any companies and can provide professional services required in my field of work.</p>

						<p>I am a well organised person with excellent communication skill, I am bilingual proficient to communicate in French and English. Also I am a hard working personal with the desire to learn new technologies and grow with a stable and successful company. Over the past years I have been involved in the IT industry in Help desk, Customer Care and Technical Support.</p>
					</div>
				</div>
				<div class="col col-mob-12 col-tab-4 banner__img">
					<img src="img/icons-set.jpg" class="img-responsive pull-right">
				</div>
			</div>
		</div>
	</section>
	
	<footer>
		<div class="container">
			<div class="row">
				<div class="col col-mob-12">
					<div class="footer-content">
						<ul class="list-inline">
							<li>
								<a target="_blank" href="https://www.linkedin.com/in/katshi-mutombo-559b5752/">
									<img src="img/linkedin-icons.png" class="icon">
								</a>
							</li>
							<li>
								<a target="_blank" href="https://github.com/zackneron/">
									<img src="img/github-icons.png" class="icon">
								</a>
							</li>
							<li><span class="copyright">&copy; Zack Mutombo 2017</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer section end here -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/script_vue.js"></script>
	<script type="text/javascript" src="js/script_app.js"></script>
</body>
</html>